<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainboxapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyC7WCkGRr9bb9XMRvH61THM9-tA1zBsmN0"
        />
      <!--PayPal activities-->
      <service android:name="com.paypal.android.sdk.payments.PayPalService"
          android:exported="false" />
      <activity
          android:name="com.paypal.android.sdk.payments.PaymentActivity" />
      <activity
          android:name="com.paypal.android.sdk.payments.LoginActivity" />
      <activity
          android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />     
      <activity
          android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
    </application>

</manifest>
